// Global Stylesheet

// Color Palette
$primary-color: #df5f18;
$secondary-color: #9b1e24;

// Typography

a {
    padding: 3em;
}

article h1 {
    display: none;
}

body {
    background: $primary-color;
    font-family: 'Source Serif Pro', serif;
}

footer {
    text-align: center;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}


// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}