// Global Stylesheet

// Color Palette
$primary-color: #df5f18;
$secondary-color: #9b1e24;

// Typography

a {
    padding: 3em;
}

article h1 {
    display: none;
}

body {
    background: url(../img/carpet.jpg);
    font-family: 'Source Serif Pro', serif;
}

footer {
    text-align: center;
}

h1,
h2 {
    color: #e8e4dd;
    font-family: 'Bangers', cursive;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 6em;
    margin-bottom: 0px;
}

article p {
    background: rgba(232, 228, 221, .75);
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}