// Global Stylesheet

// Color Palette
$primary-color: #df5f18;
$secondary-color: #9b1e24;

// Typography
//Hide for mobile and tablet

article h1 {
    display: none;
}

body {
    background: $primary-color;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}